.button{
    background-color: #986ef5;
    padding: 12px 5px;
    color: white;
}
.centrarBtn{
    text-align: center;
}
.margin{
    margin: 10px 0px;
}
input{
    margin: 10 0px;
}
.width{
    width: 100%;
    margin: 0px 20px;
}
