main{
    font-size: 1.25rem;
}
form>div{
    margin: 20px 20px;
}
input{
    width: 100%;
    padding: 10px 0px;
    margin: 10px;
}
#privacitat{
    width: 30px;
}
#inputSubmit{
    width: 100%;
    border: none;
    padding: 0px -50px;
}
